.u-center-text-x {
    text-align: center !important;
}

.u-ml-sm {
    margin-left: 3rem !important;
}

.u-mr-sm {
    margin-right: 3rem !important;
}

.u-mt-sm {
    margin-top: 3rem !important;
}

.u-mt-md {
    margin-top: 6rem !important;
}